<div class="fav-locations">
<h4>Favorite locations</h4>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
       
        <mat-panel-title *ngIf="resultFound()">
          City {{currentWeather.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
   
      <mat-list *ngIf="resultFound()">
        <mat-list-item role="">{{currentWeather.weather?.main}}</mat-list-item>
        <mat-list-item role="">{{currentWeather.weather?.description}}</mat-list-item>
      <mat-list-item role="">{{currentWeather.main?.temp}}F</mat-list-item>
       </mat-list>
      </mat-expansion-panel>
  </mat-accordion>
<div *ngIf='!resultFound()'>
  <h1 class="center">{{msg || 'Failed to get weather.'}}</h1>
</div>
</div>